{% macro render_doc(doc_to_render) %}
  {% if doc_to_render.partials %}
    {% for field in doc_to_render.partials %}
      {% if not field.partial %}
        {% continue %}
      {% endif %}

      {# Render the partial with the values in {{partial}}. #}
      {% set partial_filename = '/partials/' + field.partial + '.html' %}
      {% with partial = field %}
        {% include partial_filename with context %}
      {% endwith %}
    {% endfor %}
  {% else %}
    {{doc_to_render.formatted|safe}}
  {% endif %}
{% endmacro %}
